<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <bindingRedirects>
    <!-- let msbuild do it -->
    <add key="skip" value="True" />
  </bindingRedirects>
  <packageSources>
      <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
      <add key="aspnetcore-dev" value="https://dotnet.myget.org/F/aspnetcore-dev/api/v3/index.json" />
  </packageSources>
</configuration>
